.center {
    margin: auto;
    margin-top: 200px;
    height: 500px;
    width: 1000px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.logo {
    align-items: right;
    width: 80px;
    margin-top: 0px;
    position: absolute;
    top: 0;
    right: 0;
}

li {
    list-style: none;
}

aside {
    float: bottom;
}

#dias {
    background-color: rgb(169, 107, 228);
}