.formulario{
    padding-right: 0px;
    margin-right: 1px;
    padding-left: 25px;
    width: 50%;
}

.lista{
    width: 50%;
}

#mostrar{
    margin: 0px;
    padding: 0px;
    position: bottom;
    display:block;
}

.contenedor {
    display: flex;
}