<form [formGroup]="formulario" class="needs-validation"  novalidate>
  <div class="form-row offset-md-1">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        placeholder="Nombre"
        formControlName="nombre"
        required
      />
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom02"
        placeholder="Apellido"
        formControlName="apellido"
        required
      />
    </div>
  </div>
  <div class="form-row offset-md-1">
    <div class="col-md-3 mb-3">
      <label for="validationCustom03">Curso</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        placeholder="Curso"
        formControlName="curso"
        required
      />
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">Asunto</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom04"
        placeholder="Asunto"
        formControlName="asunto"
        required
      />
      <div class="invalid-feedback"></div>
    </div>
    <div class="form-group col-md-3 mb-3">
      <label for="exampleFormControlTextarea1">Mensaje</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Escriba aqui su Mensaje"
        formControlName="mensaje"
      ></textarea>
    </div>
  </div>
  <button class="btn btn-principalColor offset-md-1" type="button" (click)="crearJust()">
    Enviar Justificacion.
  </button>
</form>