<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Card con efecto hover - magtimus</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="eventos-screen.component.scss" />
  </head>
  <body>
    <h1 class="title">Proximas evaluaciones</h1>
    <div class="container">
      <div class="card">
        <img src="../../../assets/azul.jpeg" />
        <h4>Matematica</h4>
        <p>Prueba de suma y resta</p>
        <p>23/03/2103</p>
      </div>

      <div class="card">
        <img src="../../../assets/rojo.jpeg" />
        <h4>Lenguaje</h4>
        <p>Prueba del libro "Caperucita roja"</p>
        <p>23/03/2103</p>
      </div>
      <div class="card">
        <img src="../../../assets/verde.jpeg" />
        <h4>Ciencias</h4>
        <p>Prueba de electromagnetismo</p>
        <p>12/04/2103</p>
      </div>

      <div class="card">
        <img src="../../../assets/amarillo.jpeg" />
        <h4>Ingles</h4>
        <p>Prueba del verbo to be</p>
        <p>24/04/2103</p>
      </div>
    </div>
    <h2 class="title2">Evaluaciones pasadas</h2>
    <div class="container">
      <div class="card">
        <img src="../../../assets/azul.jpeg" />
        <h4>Matematica</h4>
        <p>Control de calculo mental</p>
        <p>03/03/2103</p>
      </div>
      <div class="card">
        <img src="../../../assets/amarillo.jpeg" />
        <h4>Ingles</h4>
        <p>Listening</p>
        <p>10/03/2103</p>
      </div>
      <div class="card">
        <img src="../../../assets/rojo.jpeg" />
        <h4>Lenguaje</h4>
        <p>Control de lexico</p>
        <p>12/03/2103</p>
      </div>
      <div class="card">
        <img src="../../../assets/rojo.jpeg" />
        <h4>Tecnologia</h4>
        <p>Diseño de producto</p>
        <p>20/03/2103</p>
      </div>
    </div>

    <script src="" async defer></script>
  </body>
</html>
